<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.social.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="SysRoleVOMap" type="com.social.vo.SysRoleVO">
        <id column="pk_id" property="pkId"/>
        <result column="name" property="name"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <collection property="menuIds" ofType="java.lang.Integer" javaType="java.util.List" select="getMenuIdById"
                    column="pk_id">
            <result column="menu_id"/>
        </collection>
    </resultMap>

    <select id="getRolePage" resultMap="SysRoleVOMap">
        select sr.*
        from sys_role sr
        where sr.delete_flag = 0
        <if test="query.name != null and query.name != ''">
            and sr.name like concat('%',#{query.name},'%')
        </if>
    </select>

    <select id="getMenuIdById" resultType="Integer">
        SELECT menu_id
        FROM sys_role_menu
        WHERE role_id = #{id}
          and delete_flag = 0
    </select>

</mapper>
